<!-- PRODUCT Headers -->
<!--<div class="mail-list-item0">-->

<!--<div layout="row" layout-align="start center">-->



<!--<div class="info" flex layout="row">-->

<!--<div class="prodMainInfo" layout="column" layout-align="center" style="width: 190px;">-->
<!--<span class="text-truncate"><h3>Customer</h3></span>-->
<!--&lt;!&ndash;<div class="code text-truncate">&ndash;&gt;-->
<!--&lt;!&ndash;Adjustment id : {{api.guapiid}}&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</div>-->

<!--<div class="prodMainInfo" flex layout="column" layout-align="right end">-->
<!--<span class="text-truncate">Adj.type</span>-->
<!--</div>-->
<!--<div class="prodMainInfo" flex layout="column" layout-align="right end">-->
<!--<span class="text-truncate">Amount</span>-->
<!--</div>-->
<!--</div>-->

<!--&lt;!&ndash;<div layout="row" layout-align="space-between end">&ndash;&gt;-->
<!--&lt;!&ndash;<md-button class="md-icon-button" ng-click="vm.toggleStarred(api, $event)"&ndash;&gt;-->
<!--&lt;!&ndash;aria-label="Toggle starred">&ndash;&gt;-->
<!--&lt;!&ndash;<md-icon ng-if="api.starred" md-font-icon="icon-star"&ndash;&gt;-->
<!--&lt;!&ndash;class="amber-fg"></md-icon>&ndash;&gt;-->
<!--&lt;!&ndash;<md-icon ng-if="!api.starred" md-font-icon="icon-star-outline"></md-icon>&ndash;&gt;-->
<!--&lt;!&ndash;</md-button>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</div>-->
<!--</div>-->

<!-- PRODUCT LIST ITEMS -->

<div class="api-list-item" layout="row" layout-align="center center" ng-show="showMoreButton">
  <md-button ng-click="loadMoreAdjustment()" class="md-primary" style="font-size: 12px;font-weight: 400"><md-icon md-font-icon="icon-magnify"></md-icon> More</md-button>
</div>
<!-- PRODUCT LIST ITEMS -->
